html,
body {
  height: 100%;
}

#page-content {
  flex: 0 0 auto;
}

div{
    margin-top: 10px;
    margin-bottom: 10px;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar-nav {
  flex-direction: row;
}