{% extends "layout.html" %}
{% block content %}
<div class="content-section text-light">
    <form method="POST" action="{{ url_for('deleterelation')}}">
        {{ deleteCharacterEpisode.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 text-light">Remove character from episode</legend>
            <div class="form-group">
                {{ deleteCharacterEpisode.character.label(class="form-control-label text-light") }}

                {% if deleteCharacterEpisode.character.errors %}
                    {{deleteCharacterEpisode.character(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in deleteCharacterEpisode.character.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}

                    </div>
                {% else %}
                    {{ deleteCharacterEpisode.character(class="form-control form-control-lg") }}
                {% endif %}

            </div>

            <div class="form-group">
                {{ deleteCharacterEpisode.episode.label(class="form-control-label text-light") }}

                {% if deleteCharacterEpisode.episode.errors %}
                    {{deleteCharacterEpisode.episode(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in deleteCharacterEpisode.episode.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}

                    </div>
                {% else %}
                    {{ deleteCharacterEpisode.episode(class="form-control form-control-lg") }}
                {% endif %}

            </div>
        </fieldset>
        <div class="form-group">
                {{ deleteCharacterEpisode.submit(class="btn btn-outline-info") }}
        </div>
    </form>

        <form method="POST" action="{{ url_for('deleterelation')}}">
        {{ deleteCharacterGroup.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 text-light">Delete character from group</legend>
            <div class="form-group">
                {{ deleteCharacterGroup.character.label(class="form-control-label text-light") }}

                {% if deleteCharacterGroup.character.errors %}
                    {{deleteCharacterGroup.character(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in deleteCharacterGroup.character.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}

                    </div>
                {% else %}
                    {{ deleteCharacterGroup.character(class="form-control form-control-lg") }}
                {% endif %}

            </div>

            <div class="form-group">
                {{ deleteCharacterGroup.group.label(class="form-control-label text-light") }}

                {% if deleteCharacterGroup.group.errors %}
                    {{deleteCharacterGroup.group(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in deleteCharacterGroup.group.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}

                    </div>
                {% else %}
                    {{ deleteCharacterGroup.group(class="form-control form-control-lg") }}
                {% endif %}

            </div>
        </fieldset>
        <div class="form-group">
                {{ deleteCharacterGroup.submit(class="btn btn-outline-info") }}
        </div>
    </form>


    <form method="POST" action="{{ url_for('deleterelation')}}">
        {{ deleteWriterEpisode.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 text-light">Delete writer from episode</legend>
            <div class="form-group">
                {{ deleteWriterEpisode.writer.label(class="form-control-label text-light") }}

                {% if deleteWriterEpisode.writer.errors %}
                    {{deleteWriterEpisode.writer(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in deleteWriterEpisode.writer.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}

                    </div>
                {% else %}
                    {{ deleteWriterEpisode.writer(class="form-control form-control-lg") }}
                {% endif %}

            </div>

            <div class="form-group">
                {{ deleteWriterEpisode.episode.label(class="form-control-label text-light") }}

                {% if deleteWriterEpisode.episode.errors %}
                    {{deleteWriterEpisode.episode(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in deleteWriterEpisode.episode.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}

                    </div>
                {% else %}
                    {{ deleteWriterEpisode.episode(class="form-control form-control-lg") }}
                {% endif %}

            </div>
        </fieldset>
        <div class="form-group">
                {{ deleteWriterEpisode.submit(class="btn btn-outline-info") }}
        </div>
    </form>


        <form method="POST" action="{{ url_for('deleterelation')}}">
        {{ deleteFusion.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 text-light">Delete fusion</legend>
            <div class="form-group">
                {{ deleteFusion.fusion.label(class="form-control-label text-light") }}
                {% if deleteFusion.fusion.errors %}
                    {{ctf_form.fusion(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in deleteFusion.fusion.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}

                    </div>
                {% else %}
                    {{ deleteFusion.fusion(class="form-control form-control-lg") }}
                {% endif %}

            </div>
        </fieldset>
        <div class="form-group">
                {{ deleteFusion.submit(class="btn btn-outline-info") }}
        </div>
    </form>

</div>
{% endblock content%}