{% extends "layout.html" %}
{% block content %}
<div class="content-section text-light">
    <form method="POST" action="{{ url_for('deleterelation')}}">
        {{ delete_character_episode.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 text-light">Remove character from episode</legend>
            <div class="form-group">
                {{ delete_character_episode.character.label(class="form-control-label text-light") }}

                {% if delete_character_episode.character.errors %}
                    {{delete_character_episode.character(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in delete_character_episode.character.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ delete_character_episode.character(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ delete_character_episode.episode.label(class="form-control-label text-light") }}

                {% if delete_character_episode.episode.errors %}
                    {{delete_character_episode.episode(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in delete_character_episode.episode.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ delete_character_episode.episode(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ delete_character_episode.submit(class="btn btn-outline-info") }}
        </div>
    </form>

    <form method="POST" action="{{ url_for('deleterelation')}}">
        {{ delete_character_group.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 text-light">Delete character from group</legend>
            <div class="form-group">
                {{ delete_character_group.character.label(class="form-control-label text-light") }}

                {% if delete_character_group.character.errors %}
                    {{delete_character_group.character(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in delete_character_group.character.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ delete_character_group.character(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ delete_character_group.group.label(class="form-control-label text-light") }}

                {% if delete_character_group.group.errors %}
                    {{delete_character_group.group(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in delete_character_group.group.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ delete_character_group.group(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ delete_character_group.submit(class="btn btn-outline-info") }}
        </div>
    </form>

    <form method="POST" action="{{ url_for('deleterelation')}}">
        {{ delete_writer_episode.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 text-light">Delete writer from episode</legend>
            <div class="form-group">
                {{ delete_writer_episode.writer.label(class="form-control-label text-light") }}

                {% if delete_writer_episode.writer.errors %}
                    {{delete_writer_episode.writer(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in delete_writer_episode.writer.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ delete_writer_episode.writer(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ delete_writer_episode.episode.label(class="form-control-label text-light") }}

                {% if delete_writer_episode.episode.errors %}
                    {{delete_writer_episode.episode(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in delete_writer_episode.episode.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ delete_writer_episode.episode(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ delete_writer_episode.submit(class="btn btn-outline-info") }}
        </div>
    </form>

    <form method="POST" action="{{ url_for('deleterelation')}}">
        {{ delete_fusion.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 text-light">Delete fusion</legend>
            <div class="form-group">
                {{ delete_fusion.fusion.label(class="form-control-label text-light") }}
                {% if delete_fusion.fusion.errors %}
                    {{delete_fusion.fusion(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in delete_fusion.fusion.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ delete_fusion.fusion(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ delete_fusion.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content%}