{% extends "layout.html" %}
{% block content %}
<div class="container ">
    <table class="table text-light">
        <tr>
            <th>Overall</th>
            <th>Name</th>
            <th>Season</th>
            <th>Number in season</th>
        </tr>
        {% for ep in episodes %}
            <tr>
                <td>{{ ep.overall }}</td>
                <td>
                <a href={{ ep.name.replace(" ", "%20") }} class="link-light">{{ ep.name }}</a>
                </td>
                <td>{{ ep.season }}</td>
                <td>{{ ep.number }}</td>
            </tr>
        {% endfor %}

    </table>
</div>
{% endblock content%}